<!-- views/index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Zakaj source control?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/reveal.min.css">
		<link rel="stylesheet" href="/lib/css/zenburn.min.css">
		
		
        <link rel="stylesheet" href="/css/sky2.min.css" id="theme">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
			
                <section>
                    <h1>Upravljanje izvorne kode</h1>
					<h2>(Source Code Control).</h2>
                </section>
				
				<section>
                    <h3>Samo Fabčič</h3>
					
					<ul>
						<li>source control uporabljam cca. 13 let.</li>
						<li>programiram dlje, ampak za to ni nobenih dokazov.</li>
						<li>prezentacijo bom poslal po emailu</li>
						<li>command line-a</li>
					</ul>
                </section>
				
				<section>
					<img src="/images/git-budget.jpg" width="400">
				</section>
				
				<section data-background="/images/git-mess-room.jpeg" style="background: rgba(255,255,255,0.7);">
                    <h2>Zakaj sistem za nadzor nad izvorno kodo?</h2>
					<ul>
						<li>kodo se popravlja na strežniku</li>
						<li>na strežniku ostajajo stare datoteke</li>
						<li>ne vemo, kdo in kdaj je spreminjal kodo na strežniku</li>
						<li>dela več ljudi na isti kodi?</li>
					</ul>
				</section>
				
				<section data-background="/images/confused-monkey.jpg" style="background: rgba(255,255,255,0.7);">
					<ul>
						<li>izgubljena koda</li>
						<li>zakaj je neka stvar v kodi?</li>
						<li>spremeniti kodo v prejšnjo verzijo?</li>
						<li>primerjat dve verziji?</li>
					</ul>
				</section>
				
				
				<section data-background="/images/coffin.jpg" style="background: rgba(255,255,255,0.3);">
					<ul>
						<li>Post mortem</li>
						<li>kaj je razlika med dvema verzijama?</li>
						<li>ste hoteli "eksperimentirat"?</li>
						<li>je programer zapustil podjetje?</li>
					</ul>
				</section>
				
				<section>
					<img src="/images/git-blame2.jpg"  width="400">
				</section>
				
				<section>
					<h2>Potenciale rešitve</h2>
					<ul>
						<li>formalni obrazci/postopki</li>
						<li>omejitve dostopa</li>
						<li>orodja, ki spremljajo spremembe na disku (audit)</li>
						<li>backup</li>
					</ul>
				</section>
				
				<section>
					<h2>Rešitev</h2>
					<h3>Katerikoli source control</h3>
					<ul>
						<li>GIT</li>
						<li>Mercurial</li>
					</ul>
				</section>
				
				<section>
                    <h2>Kaj je source control?</h2>
					<ul>
						<li>undo (kratkoročni/dolgoročni)</li>
						<li>zgodovina (sprememb/lastništva)</li>
						<li><em>omogoča</em> skupinsko delo</li>
						<li>primerjava (verzija, datotek,..)</li>
						<li>delo na različnih verzijah</li>
					</ul>
				</section>
				
				<section data-background="/images/wordpress-backup.png" data-background-size="250px">
                    <h2>Kaj ni source control?</h2>
					<ul>
						<li>backup</li>
						<li>deployment</li>
					</ul>
				</section>
				
				<section data-background="/images/3XfP1.png" data-background-size="305px">
                    <h2>Orodja, ki dopolnjujejo source control</h2>
					<ul>
						<li>sistem za avtomatsko testiranje</li>
						<li>continious integration</li>
						<li>Backup</li>
						<li>...</li>
					</ul>
				</section>
				
				<section data-background="/images/warehouse.jpg" style="background: rgba(255,255,255,0.7);">
                    <h2>En sam razlog zakaj</h2>
					<ul class="fragment">
						<li>prihrani čas</li>
					</ul>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
                    <h2>Zakaj source control ni dober?</h2>
					<ul>
						<li>binarne datoteke</li>
						<li>skrivanje</li>
					</ul>
				</section>
				
				<section>
                    <h1>Principi</h1>
				</section>
				
				<section>
                    <h3>Kaj počne source control?</h3>
					<ul>
						<li>zapomni si točno
							<ul>
								<li>kaj smo spremenili</li>
								<li>v katerem drevesu smo to naredili</li>
							</ul>
						</li>
						<li>prejšnje in novo stanje</li>
						<li>vrstico</li>
						<li>kdo,kdaj</li>
						<li>in komentar</li>
					</ul>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
					<h3>Osnovni postopek</h3>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
					<ul>
						<li>pogledamo, kaj smo spremenili / dodali / zbrisali</li>
					</ul>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
					<ul>
						<li>kaj bomo shranili v source control</li>
					</ul>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
					<ul>
						<li>shranimo v source control s komentarjem</li>
					</ul>
				</section>
				
				<section data-background="/images/hiding.jpg" style="background: rgba(255,255,255,0.7);">
					<ul>
						<li>sinhroniziramo z ostalimi</li>
					</ul>
				</section>
				
				<section>
					<ol>
						<li>pogledamo, kaj smo spremenili / dodali / zbrisali</li>
						<li>kaj bomo shranili v source control</li>
						<li>shranimo v source control s komentarjem</li>
						<li>sinhroniziramo z ostalimi</li>
					</ol>
				</section>
				
				<section>
					<h3>Delo na spremembi / bugu</h3>
					<ol>
						<li>Označimo, da bomo delali na 
							<ul>
								<li>novi lastnosti</li>
								<li>bugu</li>
								<li>ideji</li>
							</ul>
						</li>
						<li>delamo</li>
						<li>nekaj vskoči</li>
						<li>prestavimo delovno okolje</li>
						<li>popravimo</li>
						<li>prestavimo delovno okolje</li>
						<li>testiramo/jo</li>
						<li>vgradimo spremembo v glavno okolje</li>
					</ol>
				</section>
				
				<section data-background="#ff0000">
					<h3>Dobre prakse</h3>
					<ul>
						<li>source control uporabljamo vedno</li>
						<li>tudi če ga vodja projekta ni pripravil</li>
						<li>pred commitom testiramo</li>
						<li>commitamo večkrat na dan</li>
						<li>commitamo zaključeno logično celoto <em>povezanih</em> sprememb (zakaj?)</li>
						<li>obvezen dober komentar</li>
					<ul>
				</section>
				<section>
					<h3>Dober komentar</h3>
					<ul>
						<li>&lt; 50 znakov v <em>prvi vrstici</em></li>
						<li>zakaj smo to naredili</li>
						<li>na kaj lahko to vpliva</li>
						<li>link na opis buga</li>
						<li>ne pisat, kar source control že ve</li>
						<li>message ni namenjen računalniku</li>
					<ul>
					<ul>
						<li>bad: spreminil sem datoteko x.y</li>
						<li>good: spremenil sem barvo gumba na zahtevo O.X.</li>
					</ul>
				</section>
				
				<section data-background="#ff0000">
					<h3>Slovar</h3>
					<ul>
						<li>repository</li>
						<li>commit</li>
						<li>checkout</li>
						<li>diff</li>
						<li>conflict</li>
						<li>revision != version</li>
						<li>branch “save as”</li>
						<li>head</li>
						<li>tag</li>
					</ul>
				</section>
				
				<section data-background="#ff0000">
					<h3>Če ni v source kontrolu, potem ni nikoli obstajalo.</h3>
				</section>
				
				<section data-background="#ff0000">
					<h3>Google odgovarja na vsa vprašanja (potem ko jih znamo postavit).</h3>
				</section>
				
				
				
				<section>
					<h1>GIT</h2>
				</section>
				
				<section>
					<code data-trim>
						git init 
					</code>
					<code data-trim class="fragment" >
						git add [ime datoteke ali direktorija, ki ga bomo commitali]
					</code>
					<code data-trim class="fragment" >
						git commit -m "[message]"
					</code>
				</section>
				
				<section>
					<img src="/images/dear-git.jpeg" width="600">
				</section>
				
				<section>
					<h2>Brskanje po repozitoriju</h2>
					<pre>
					<code data-trim>
git status
					</code>
					</pre>
					
					<ul>
						<li>datoteke o katerih git ne ve nič (untracked)</li>
						<li>spremenjene datoteke (unstaged)</li>
						<li>datoteke pripravljene za commit (staged)</li>
					</ul>				
				</section>
				
				<section>
					<h2>Brskanje po spremembah </h2>
					 <pre>
						<code data-trim>
git log -n [koliko]
						</code>
						<code data-trim class="fragment" >
git log --oneline
						</code>
						<code data-trim class="fragment" >
git log --author=[kdo]
						</code>
					</pre>	
						
					<p class="fragment" >
					...
					<p>	
				</section>
				
				<section>
					<h2>Brskanje po zgodovini </h2>
					<pre>
					<code data-trim>
git checkout [commit]
					</code>
					<code data-trim class="fragment" >
git checkout master
					</code>
					</pre>	
				</section>
				
				<section>
					<h2>UNDO</h2>
					<pre class="fragment">
						<code data-trim>
git log --oneline
						</code>
						<code data-trim  >
git checkout [commit] [file]
						</code>
					</pre>
				</section>
				
				<section>
					<h2>UNDO od UNDO</h2>
					<pre>
						<code data-trim>
git checkout HEAD [fajl]
						</code>
					</pre>
					
					<pre class="fragment">
						<code data-trim  >
git reset --hard
						</code>
					</pre>
				</section>
				
				<section>
					<h2>Primer</h2>
					<pre>
						<code data-trim>
git add norost.cpp
git commit -m "Smo napol poti v norost.cpp"
# Se editiramo `norost.cpp` 
# Se odlocimo, da ni bilo OK
git reset --hard 
						</code>
					</pre>
					<pre class="fragment">
						<code data-trim  >
git reset --hard HEAD~2
						</code>
					</pre>
				</section>
				
				<section>
					<h1>Vejenje</h1>
					<p>po slovensko: branch</p>
				</section>
				
				<section>
					<h3>"Branching" iz ptičje perspektive</h3>
					<ul>
						<li>različne strategije</li>
					</ul>
					<ul>
						<li>kratkotrajne veje / veje na eno temo</li>
						<li>trajne veje (napr. master/devel)</li>
					</ul>
					<img src="/images/git-long-running.png" width="500">
				</section>
				
				<section>
					<pre>
						<code data-trim>
git branch nov-razvoj
git checkout nov-razvoj
						</code>
					</pre>
				</section>
				
				<section>
					<h2>Hitra vaja</h2>
					<p class="fragment">Kako preimenujemo branch?</p>
				</section>
				
				<section>
					<h2>Branch primer</h2>
					<pre>
						<code data-trim>
git branch nov-feature
git checkout nov-feature
# nekaj delamo
git add nov.txt
git commit -m “opis “
# nekaj delamo
git add nov.txt
git commit -m “izboljsava “
#treba nekaj popravit na produkciji (bug 16)
git checkout master
# popravimo
git add nakaj-za-popravit.txt
git commit -m “smo popravili bug 16“
						</code>
					</pre>
					<p class="fragment">Kakšno je zdaj stanje?</p>
				</section>
				
				<section>
					<h3>Združevanje</h3>
					<h2>Merge</h2>
				<pre>
						<code data-trim>
git checkout master
git merge nov-feature
						</code>
					</pre>
					<img src="/images/git-branch.jpg" >
				</section>
				
				<section>
					<h2>Vaja 1</h2>
					<ol>
						<li>init</li>
						<li>naredi fajl in ga commitaj</li>
						<li>naredi še en fajl</li>
						<li>vrni v prvotno stanje </li>
						<li>naredi tretji fajl  in ga commitaj</li>
						<li>pokaži spremembe med dvema commitoma </li>
						<li>vrni se nazaj v prvi commit </li>
					</ol>
				</section>
				
				<section>
					<h2>Vaja 2</h2>
					<ol>
						<li>naredi branch</li>
						<li>commit v ta branch</li>
						<li>naredi nov branch</li>
						<li>commit v ta branch</li>
						<li>pokaži spremembe</li>
						<li>izbriši branch</li>
					</ol>
				</section>
				
				<section>
					<h2>GIT</h2>
					<h3>malo globje</h3>
				</section>
				
				<section data-background="/images/github-octocat.png" >
				</section>
				
				<section>
					<h2>Namestitev</h2>
					<ul>
						<li>git scm</li>
						<li>tortoise git </li>
						<li>Visual studio</li>
					</ul>
				</section>
				
				<section>
					<h2>Konfiguracija</h2>
					<pre>
						<code data-trim>
git config --global user.name
git config --global user.email
						</code>
					</pre>
					<p>_netrc</p>
					<pre>
						<code data-trim>
machine [hostname1]
login [login1]
password [password1]
						</code>
					</pre>
				</section>
				
				<section>
					<h2>.gitignore</h2>
				</section>
				
				<section>
					<h2>Konflikti</h2>
					<pre>
						<code data-trim>
Auto-merging miki.txt
CONFLICT (content): Merge conflict in miki.txt
Automatic merge failed; fix conflicts and then commit the result.

/c/dev/git4diff (master|MERGING)$
</code>
</pre>
<pre>
						<code data-trim>
&lt;&lt;&lt; HEAD
osem
==== 
devet
&gt;&gt;&gt; ime_veje master 
</code>
					</pre>
				</section>	
				
				<section>
					<h2>Kaj pa ko nas je več?</h2>
				</section>
				
				<section data-background="/images/central-distributed.jpg"  data-background-size="900px" >
				</section>
				
				<section>
					<h2>Štart</h2>
					<pre>
						<code data-trim>
git init 
</code>
<code data-trim  class="fragment">
git clone [url]
</code>
</pre>
				</section>
				
				<section>
				<pre>
					<code data-trim>
git pull
</code>
<code data-trim>
git push
</code>
</pre>
				</section>
				
				<section>
					<h2>Priporočen workflow</h2>
					<pre>
						<code data-trim>
git pull
#delo
git status
git add [kaj]
git commit [opis]
git push
</code>
</pre>
				</section>
				
				<section>
					<h2>Še en priporočen workflow</h2>
					<h3>Centralized Workflow</h3>

					<pre>
						<code data-trim>
git pull
git branch kaj-bomo-delali
git checkout kaj-bomo-delali
#delo
git add [kaj]
git commit [opis]
git push --set-upstream origin kaj-bomo-delali
#nekdo testira naš branch
git checkout master
git merge kaj-bomo-delali
</code>
</pre>
				</section>
				
				<section>
					<h2>Še en primer</h2>
					<pre>
						<code data-trim>
git checkout -b bug-#001 master
# Fix the bug
git checkout master
git merge bug-#001
git push
</code>
</pre>
				</section>
				
				<section>
					<h2>FAQ</h2>
					<ul>
						<li>nothing to commit <span class="fragment"> (add)</span></li>
						<li>repozitorj ne obstaja  <span class="fragment"> (URL)</span></li>
						<li>ne morem klonirat <span class="fragment"> (gesla, key)</span></li>
						<li>ne morem pull-at <span class="fragment"> (ali je vse commitano)</span></li>
						<li>ne morem push-at <span class="fragment"> (ali si naredil pull)</span></li>
					</ul>
				</section>
				
				<section>
					<h2>Načini za vejenje</h2>
					<ul>
						<li>se lahko vsaka organizacija odloči sama</li>
						<li>naprimer <ul>
							<li>master</li>
							<li>master/devel</li>
							<li>master/hotfix/release/develop/ +vsak developer ima še svoje</li>
						</ul></li>
					</ul>
				</section>
				
				<section>
					<h2>Oznake</h2>
					<h3>Tags</h3>
					<pre>
						<code data-trim>
git tag v1.0
git push origin --tags
</code>
</pre>
				</section>
				
				<section>
					<h2>Kam naprej</h2>
					<ol>
						<li>inštaliraj, uporabljaj za vse</li>
						<li>github account</li>
						<li>git help </li>
						<li>http://www.google.com</li>
						<li>http://www.git-tower.com/blog/git-cheat-sheet/</li>
						<li>http://firstaidgit.io/</li>
						<li>http://trevorburnham.com/presentations/year-of-git</li>
						<li>http://41j.com/blog/2015/02/common-git-screwupsquestions-solutions/</li>
					</ol>
				</section>
				
				<section>
					<h2>Hvala!</h2>
				</section>
				
				
				<section>
					<h2>Kako naredimo One.NET projekt</h2>
					<ol>
						<li>inicializiramo GIT repositorij</li>
						<li>Nov projekt v Visual studio</li>
						<li>Preko nuget paketov namestimo one.net</li>
						<li>Iz SiteDefault skopiramo default datoteke (napr. web.config, LocalRewrite)</li>
						<li>Dodamo profile za deploy s <em>transformacijami</em></li>
						<li>Napišemo specifično kodo</li>
						<li>Preko nuget namestimo specifične pakete</li>
					</ol>
				</section>
				<section>
					<h2>Konvencije za lokacije</h2>
					<ul>
						<li>vsi specifični elementi so v <span>~/site_specific</span></li>
						<li>tja lahko kopiramo tudi preko publish skript</li>
						<li>.dll datoteke so seveda v ~/bin</li>
					</ul>
				</section>
				<section>
					<h2>Kako naredimo nuget paket</h2>
					<ul>
						<li>nuget je samo zip datoteka, ki sledi konvenciji</li>
						<li>konvencija je:
							<ul>
								<li>dll za .NET 4.5 grejo v "lib/net45"</li>
								<li>vse kar bi šlo v root gre v "content"</li>
								<li>v rootu je datoeka imageprojeka.nuspec</li>
							</ul>
						</li>
					</ul>
				</section>
				<section>
					<h2>.nuspec datoteka</h2>
					<pre>
					<code data-trim>
<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2011/08/nuspec.xsd">
	<metadata>
		<id>ZRSZ.Internal</id>
		<version>1.22.0.0</version>
		<title>ZRSZ Internal modules</title>
		<authors>samof</authors>
		<owners>ZRSZ</owners>
		<requireLicenseAcceptance>false</requireLicenseAcceptance>
		<description>Package for custom modules by ZRSZ</description>
		<copyright>Copyright © ZRSZ 2015</copyright>
		<dependencies>
		</dependencies>
	</metadata>
	...
</package>
					</code>
					</pre>
				</section>
				<section data-markdown>
					<script type="text/template">
						### .nuspec datoteka part 2
						```
						<files>
						  <file src="_images\**.gif" target="content\site_specific\_images" />
						  <file src="custom_modules\**.png" target="content\site_specific\custom_modules" />
						  <file src="custom_modules\**.jpg" target="content\site_specific\custom_modules" />
						  <file src="custom_modules\**.gif" target="content\site_specific\custom_modules" />
						  <file src="custom_modules\**.ascx" target="content\site_specific\custom_modules" />
						  <file src="custom_modules\**.aspx" target="content\site_specific\custom_modules" />
						  <file src="custom_modules\**.rdlc" target="content\SiteDesktop\custom_modules" />
						  <file src="custom_modules\**.xsd" target="content\site_specific\custom_modules" />
						  <file src="bin\*.dll" target="lib\net45" />
						</files>
						```
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						### nuget.exe
						```
						NuGet.exe pack ZRSZ.Internal.nuspec -OutputDirectory .
						NuGet.exe push .\*.nupkg AAAAAAAA -Source http://nuget.t.renderspace.net
						```
					</script>
				</section>	
            </div>
        </div>
        <script src="/js/scripts.js"></script>
        <script type="text/javascript">
            Reveal.initialize({
				history: true,
				dependencies: [
					// Interpret Markdown in <section> elements
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				]
			});
        </script>
    </body>
</html>